# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/bin/*
/obj/*

# Resources
/Images/archive/*

# third party
/jsoncpp/*
/spdlog/*
/SFML/*

# images sources
/Images/resources/*

# logs
/logs/*

# notes
*.txt
*.cbp
*.depend
*.layout
*.cscope_file_list