# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/bin/*
/obj/*
/SFML/*
/json/*

# Resources
/Images/archive/*

# notes
*.txt
*.cbp
*.depend
*.layout
