# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/bin/*
/obj/*
/build/*
/test/*
/Release/*
/Debug/*
/RelWithDebInfo/*

# Resources
/Images/archive/*

# third party
jsoncpp/*
spdlog/*
SFML/*

# images sources
/Images/resources/*

# logs
/logs/*

# notes
*.txt
*.cbp
*.depend
*.layout
*.cscope_file_list

!**/CMakeLists.txt
test/CMakeLists.txt
.vscode/settings.json
.vscode/c_cpp_properties.json
